body {
  text-align: center;
}

.comment-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  margin: 5px;
  border: solid black 1px;
  width: 30%;
  height: 80%;
}